.fontW{
    font-weight: 700;
}

.cartS{
    height:35px;
    width: 50px;
}

.delete{
    float: right;
    position: absolute;
    top: 20px;
    right: 0;
    padding-right: 5px;
}

.modalImagediv{
    position:relative;
    width:100%
}

.modalImage{
    position:absolute;
    top:-80px;
    right:60px;
    width:25% !important;
}

@media only screen and (max-width: 470px) {
    .modalImagediv {
      display: none;
    }
  }